<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Data Hora</th>
            <th scope="col">Descrição</th>
            <th scope="col">Valor</th>
            <th scope="col">Tipo</th> 
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of movimentacoes; index as i">
            <th scope="row">{{ 1 + i }}</th>
            <td>{{ item.dataHora }}</td>
            <td>{{ item.descricao }}</td>
            <td>{{ item.valor }}</td>
            <td>{{ item.tipo }}</td>
        </tr>
    </tbody>
</table>
